# Übung 5

## Pakete

## Pandas

Mithilfe von [PageViewer](https://pageviews.wmcloud.org/?project=en.wikipedia.org&platform=all-access&agent=user&redirects=0&range=latest-20&pages=) ist es möglich die Aufrufzahlen von verschiedenen Webseiten einzusehen.
Wähle 5 Seiten der englischsprachigen Wikipedia und vergleiche die Aufrufzahlen der letzten 30 Tage.
Lade das Ergebnis herunter und lese es mit dem *pandas*-Paket ein.

In [47]:
import pandas as pd

# Dein Code
df = pd.read_csv('pageviews-20221026-20221115.csv')
df

          Date  Josip Broz Tito  Saban Saulic  Bijelo Dugme
0   2022-10-26             2300             5           192
1   2022-10-27             2440             4           192
2   2022-10-28             2314             0           223
3   2022-10-29             2253             2           238
4   2022-10-30             2258             0           274
5   2022-10-31             2425             3           207
6   2022-11-01             2682             1           237
7   2022-11-02             2625             3           196
8   2022-11-03             2505             4           178
9   2022-11-04             2267             5           231
10  2022-11-05             2257             0           247
11  2022-11-06             2379             2           271
12  2022-11-07             2513             2           207
13  2022-11-08             2548             2           227
14  2022-11-09             2189             1           173
15  2022-11-10             2279             2           185
16  2022-11-11             2347             3           267
17  2022-11-12             2168             3           294
18  2022-11-13             2461             2           340
19  2022-11-14             2525             2           202
20  2022-11-15             2528             3           231

Welche Seite wurde in dem Zeitraum am häufigsten besucht?
Gib die Seite und die Gesamtzahl der Aufrufe an.

In [ ]:
# Dein Code

Wie oft wurde jede Seite im Durchschnitt aufgerufen

In [ ]:
# Dein Code

Wie oft wurde jede Seite am 03. November 2022 abgerufen?

In [ ]:
# Dein Code

Sortiere den Dataframe nach der Anzahl der Aufrufe der am wenigsten besuchten Seite.

In [50]:
# Dein Code

TypeError: Must provide 'func' or tuples of '(column, aggfunc).

Speichere die Werte der letzten fünf Tage als Markdown-Datei.