# Ãœbung 5

## Pakete

Importiere das Modul "math" und runde mit "floor" den Wert 2.77259 ab.

In [ ]:
# Dein Code

Importiere aus dem Modul "math" die Funktion "log" als einzige Funktion und berechne den Logarithmus von 100 zur Basis 4

In [ ]:
# Dein Code

Importiere die Funktion "sqrt" aus dem Modul "math" als die Funktion "wurzel_aus".

In [ ]:
# Dein Code

## Pandas

In [4]:
import pandas as pd
df = pd.read_csv('pageviews-20221026-20221115.csv')
df

          Date  Josip Broz Tito  Saban Saulic  Bijelo Dugme
0   2022-10-26             2300             5           192
1   2022-10-27             2440             4           192
2   2022-10-28             2314             0           223
3   2022-10-29             2253             2           238
4   2022-10-30             2258             0           274
5   2022-10-31             2425             3           207
6   2022-11-01             2682             1           237
7   2022-11-02             2625             3           196
8   2022-11-03             2505             4           178
9   2022-11-04             2267             5           231
10  2022-11-05             2257             0           247
11  2022-11-06             2379             2           271
12  2022-11-07             2513             2           207
13  2022-11-08             2548             2           227
14  2022-11-09             2189             1           173
15  2022-11-10             2279             2           185
16  2022-11-11             2347             3           267
17  2022-11-12             2168             3           294
18  2022-11-13             2461             2           340
19  2022-11-14             2525             2           202
20  2022-11-15             2528             3           231

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             21 non-null     object
 1   Josip Broz Tito  21 non-null     int64
 2   Saban Saulic     21 non-null     int64
 3   Bijelo Dugme     21 non-null     int64
dtypes: int64(3), object(1)
memory usage: 800.0+ bytes

In [7]:
df.describe()

       Josip Broz Tito  Saban Saulic  Bijelo Dugme
count        21.000000     21.000000     21.000000
mean       2393.476190      2.333333    229.142857
std         146.022471      1.460593     42.126341
min        2168.000000      0.000000    173.000000
25%        2267.000000      2.000000    196.000000
50%        2379.000000      2.000000    227.000000
75%        2513.000000      3.000000    247.000000
max        2682.000000      5.000000    340.000000