# Datenjournalismus in Python - 
# Eine praktische Einführung in die Programmierung


### Natalie Widmann




Wintersemester 2022 / 2023


Universität Leipzig

## Was sind Daten?


### Strukturierte Daten

Strukturierte Daten sind gut organisiert und so formattiert, dass es einfach ist sie zu durchsuchen, sie maschinell zu lesen oder zu verarbeiten. Das einfachste Beispiel ist eine Tabelle in der jede Spalte eine Kategorie oder einen Wert festlegt. 


### Unstrukturierte Daten

Im Gegensatz dazu sind unstrukturierte Daten nicht in einem bestimmten Format oder einer festgelegten Struktur verfügbar. Dazu zählen Texte, Bilder, Social Media Feeds, aber auch Audio Files, etc.


### Semi-Strukturierte Daten

Semi-strukturierte Daten bilden eine Mischform. Beispielsweise eine Tabelle mit E-Mail Daten, in der Empfänger, Betreff, Datum und Absender strukturierte Informationen enthalten, der eigentliche Text jedoch unstrukturiert ist.

## Was sind Daten?

![Daten](../imgs/data.png)

### Aggregated figures for Natural Disasters in EM-DAT

Link: https://data.humdata.org/dataset/emdat-country-profiles


In 1988, the **Centre for Research on the Epidemiology of Disasters (CRED)** launched the **Emergency Events Database (EM-DAT)**. EM-DAT was created with the initial support of the **World Health Organisation (WHO) and the Belgian Government**.

The main objective of the database is to **serve the purposes of humanitarian action at national and international levels**. The initiative aims to rationalise decision making for disaster preparedness, as well as provide an objective base for vulnerability assessment and priority setting.

EM-DAT contains essential core data on the **occurrence and effects of over 22,000 mass disasters in the world from 1900 to the present day**. The database is compiled from various sources, including UN agencies, non-governmental organisations, insurance companies, research institutes and press agencies.

In [1]:
# Install a pip package im Jupyter Notebook
!pip3 install pandas
!pip3 install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/natalie/.local/lib/python3.9/site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/natalie/.local/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /home/natalie/.local/lib/python3.9/site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in /home/natalie/.local/lib/python3.9/site-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/natalie/.local/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /home/natalie/.local/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [51]:
import pandas as pd
data = pd.read_excel('../data/emdat.xlsx', engine="openpyxl")

/home/natalie/.local/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [52]:
data

,Year,Country,ISO,Disaster Group,Disaster Subroup,Disaster Type,Disaster Subtype,Total Events,Total Affected,Total Deaths,"Total Damage (USD, original)","Total Damage (USD, adjusted)",CPI
0,#date +occurred,#country +name,#country +code,#cause +group,#cause +subgroup,#cause +type,#cause +subtype,#frequency,#affected +ind,#affected +ind +killed,NaN,#value +usd,NaN
1,1900,Cabo Verde,CPV,Natural,Climatological,Drought,Drought,1,NaN,11000,NaN,NaN,3.077091
2,1900,India,IND,Natural,Climatological,Drought,Drought,1,NaN,1250000,NaN,NaN,3.077091
3,1900,Jamaica,JAM,Natural,Hydrological,Flood,NaN,1,NaN,300,NaN,NaN,3.077091
4,1900,Japan,JPN,Natural,Geophysical,Volcanic activity,Ash fall,1,NaN,30,NaN,NaN,3.077091
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10338,2022,Yemen,YEM,Natural,Hydrological,Flood,Flash flood,1,3400,13,NaN,NaN,NaN
10339,2022,South Africa,ZAF,Natural,Hydrological,Flood,NaN,7,143119,562,3.164000e+09,NaN,NaN
10340,2022,Zambia,ZMB,Natural,Hydrological,Flood,NaN,1,15000,3,NaN,NaN,NaN
10341,2022,Zimbabwe,ZWE,Natural,Hydrological,Flood,NaN,1,NaN,NaN,NaN,NaN,NaN
10342,2022,Zimbabwe,ZWE,Natural,Meteorological,Storm,Tropical cyclone,1,3000,NaN,NaN,NaN,NaN

## Data Cleaning

Entferne erste Zeile

In [54]:
data = data.drop(index=0)

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10342 entries, 1 to 10342
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          10342 non-null  object
 1   Country                       10342 non-null  object
 2   ISO                           10342 non-null  object
 3   Disaster Group                10342 non-null  object
 4   Disaster Subroup              10342 non-null  object
 5   Disaster Type                 10342 non-null  object
 6   Disaster Subtype              8225 non-null   object
 7   Total Events                  10342 non-null  object
 8   Total Affected                7506 non-null   object
 9   Total Deaths                  7317 non-null   object
 10  Total Damage (USD, original)  3796 non-null   float64
 11  Total Damage (USD, adjusted)  3766 non-null   object
 12  CPI                           10149 non-null  float64
dtypes: float64(2), object(11)
memory usage: 1.0+ MB

Änderung des Datentyps für integeger und float Spalten

In [56]:
cols = ['Year', 'Total Events', 'Total Affected', 'Total Deaths', 'Total Damage (USD, adjusted)']
for col in cols:
    data[col] = pd.to_numeric(data[col])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10342 entries, 1 to 10342
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          10342 non-null  int64
 1   Country                       10342 non-null  object
 2   ISO                           10342 non-null  object
 3   Disaster Group                10342 non-null  object
 4   Disaster Subroup              10342 non-null  object
 5   Disaster Type                 10342 non-null  object
 6   Disaster Subtype              8225 non-null   object
 7   Total Events                  10342 non-null  int64
 8   Total Affected                7506 non-null   float64
 9   Total Deaths                  7317 non-null   float64
 10  Total Damage (USD, original)  3796 non-null   float64
 11  Total Damage (USD, adjusted)  3766 non-null   float64
 12  CPI                           10149 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 1.0+ MB

Entferne irrelevante Spalten, hier: *ISO, Disaster Group, Total Damage (USD, adjusted)*

In [57]:
cols = ['ISO', 'Disaster Group', 'Total Damage (USD, adjusted)']
data.drop(cols, axis=1, inplace=True)

In [23]:
data

,Year,Country,Disaster Subroup,Disaster Type,Disaster Subtype,Total Events,Total Affected,Total Deaths,"Total Damage (USD, original)"
1,1900,Cabo Verde,Climatological,Drought,Drought,1,NaN,11000.0,NaN
2,1900,India,Climatological,Drought,Drought,1,NaN,1250000.0,NaN
3,1900,Jamaica,Hydrological,Flood,NaN,1,NaN,300.0,NaN
4,1900,Japan,Geophysical,Volcanic activity,Ash fall,1,NaN,30.0,NaN
5,1900,Turkey,Geophysical,Earthquake,Ground movement,1,NaN,140.0,NaN
...,...,...,...,...,...,...,...,...,...
10338,2022,Yemen,Hydrological,Flood,Flash flood,1,3400.0,13.0,NaN
10339,2022,South Africa,Hydrological,Flood,NaN,7,143119.0,562.0,3.164000e+09
10340,2022,Zambia,Hydrological,Flood,NaN,1,15000.0,3.0,NaN
10341,2022,Zimbabwe,Hydrological,Flood,NaN,1,NaN,NaN,NaN
10342,2022,Zimbabwe,Meteorological,Storm,Tropical cyclone,1,3000.0,NaN,NaN

## Fehlende Werte - NaNs Values

Wo fehlen Werte im Datensatz?
Wie viele fehlen?

In [25]:
len(data)

10342

#### Wie viele Werte pro Spalte sind NaN?

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10342 entries, 1 to 10342
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          10342 non-null  int64
 1   Country                       10342 non-null  object
 2   Disaster Subroup              10342 non-null  object
 3   Disaster Type                 10342 non-null  object
 4   Disaster Subtype              8225 non-null   object
 5   Total Events                  10342 non-null  int64
 6   Total Affected                7506 non-null   float64
 7   Total Deaths                  7317 non-null   float64
 8   Total Damage (USD, original)  3796 non-null   float64
dtypes: float64(3), int64(2), object(4)
memory usage: 727.3+ KB

In [29]:
data.isnull().sum()

Year                               0
Country                            0
Disaster Subroup                   0
Disaster Type                      0
Disaster Subtype                2117
Total Events                       0
Total Affected                  2836
Total Deaths                    3025
Total Damage (USD, original)    6546
dtype: int64

In [30]:
data['Disaster Subtype'].isnull()

1        False
2        False
3         True
4        False
5        False
         ...
10338    False
10339     True
10340     True
10341     True
10342    False
Name: Disaster Subtype, Length: 10342, dtype: bool

In [31]:
data.isnull().sum()

Year                               0
Country                            0
Disaster Subroup                   0
Disaster Type                      0
Disaster Subtype                2117
Total Events                       0
Total Affected                  2836
Total Deaths                    3025
Total Damage (USD, original)    6546
dtype: int64

### Möglichkeiten zum Umgang mit fehlenden Werte

- Zeilen mit fehlenden Werten entfernen
- fehlende Werte ersetzen

#### Alle Zeilen mit NaN Werten entfernen

`dropna()`

In [35]:
clean_data = data.dropna()
clean_data

,Year,Country,Disaster Subroup,Disaster Type,Disaster Subtype,Total Events,Total Affected,Total Deaths,"Total Damage (USD, original)"
45,1906,United States of America (the),Geophysical,Earthquake,Ground movement,1,84564.0,700.0,5.240000e+08
48,1907,Jamaica,Geophysical,Earthquake,Ground movement,1,90000.0,1200.0,3.000000e+07
50,1908,Italy,Geophysical,Earthquake,Ground movement,1,150000.0,75000.0,1.160000e+08
90,1912,Canada,Meteorological,Storm,Convective storm,1,2700.0,28.0,5.000000e+06
146,1922,Canada,Climatological,Wildfire,Forest fire,1,11000.0,43.0,8.000000e+06
...,...,...,...,...,...,...,...,...,...
10289,2022,Philippines (the),Meteorological,Storm,Tropical cyclone,4,5515870.0,447.0,5.061100e+07
10305,2022,El Salvador,Meteorological,Storm,Tropical cyclone,2,9373.0,11.0,1.700000e+07
10314,2022,Tonga,Geophysical,Volcanic activity,Ash fall,1,84176.0,4.0,1.170000e+08
10317,2022,Taiwan (Province of China),Geophysical,Earthquake,Ground movement,1,140.0,1.0,3.700000e+06
10327,2022,United States of America (the),Meteorological,Storm,Convective storm,9,576.0,39.0,1.434500e+10

Entferne nur Zeilen die in einer bestimmten Spalte NaN Werte haben

In [36]:
clean_data = data.dropna(subset=['Disaster Subtype', 'Total Affected'])
clean_data

,Year,Country,Disaster Subroup,Disaster Type,Disaster Subtype,Total Events,Total Affected,Total Deaths,"Total Damage (USD, original)"
7,1901,Japan,Geophysical,Earthquake,Tsunami,1,24.0,18.0,NaN
8,1902,Azerbaijan,Geophysical,Earthquake,Ground movement,1,17540.0,86.0,NaN
15,1902,Soviet Union,Geophysical,Earthquake,Ground movement,1,125112.0,4562.0,NaN
17,1903,Canada,Geophysical,Mass movement (dry),Rockfall,1,23.0,76.0,NaN
23,1903,Turkey,Geophysical,Earthquake,Ground movement,3,60000.0,6260.0,NaN
...,...,...,...,...,...,...,...,...,...
10333,2022,Venezuela (Bolivarian Republic of),Meteorological,Storm,Convective storm,1,30000.0,NaN,NaN
10335,2022,Viet Nam,Meteorological,Storm,Convective storm,2,54912.0,11.0,NaN
10336,2022,Viet Nam,Meteorological,Storm,Tropical cyclone,1,436978.0,19.0,NaN
10338,2022,Yemen,Hydrological,Flood,Flash flood,1,3400.0,13.0,NaN
10342,2022,Zimbabwe,Meteorological,Storm,Tropical cyclone,1,3000.0,NaN,NaN

### Fehlende Werte entfernen

**Vorteile**
- einfache Handhabung
- verständliche Methodik


**Nachteile**
- ein großer Teil der Daten wird nicht ausgewertet
- fehlende Werte können eine ganz andere Geschichte erzählen
- die Konsistenz über unterschiedliche Fragestellungen hinweg muss sichergestellt sein

### Fehlende Werte ersetzen

Mit `.fillna()` können alle NaN Werte in einem DataFrame oder einer Series automatisch ersetzt werden.

Das Argument `inplace=True` wendet die Methode direkt auf den DataFrame an.

In [38]:
data.fillna(0)

,Year,Country,Disaster Subroup,Disaster Type,Disaster Subtype,Total Events,Total Affected,Total Deaths,"Total Damage (USD, original)"
1,1900,Cabo Verde,Climatological,Drought,Drought,1,0.0,11000.0,0.000000e+00
2,1900,India,Climatological,Drought,Drought,1,0.0,1250000.0,0.000000e+00
3,1900,Jamaica,Hydrological,Flood,0,1,0.0,300.0,0.000000e+00
4,1900,Japan,Geophysical,Volcanic activity,Ash fall,1,0.0,30.0,0.000000e+00
5,1900,Turkey,Geophysical,Earthquake,Ground movement,1,0.0,140.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...
10338,2022,Yemen,Hydrological,Flood,Flash flood,1,3400.0,13.0,0.000000e+00
10339,2022,South Africa,Hydrological,Flood,0,7,143119.0,562.0,3.164000e+09
10340,2022,Zambia,Hydrological,Flood,0,1,15000.0,3.0,0.000000e+00
10341,2022,Zimbabwe,Hydrological,Flood,0,1,0.0,0.0,0.000000e+00
10342,2022,Zimbabwe,Meteorological,Storm,Tropical cyclone,1,3000.0,0.0,0.000000e+00

In [61]:
data["Disaster Subtype"].fillna("No Subtype", inplace=True)

In [50]:
data

,Year,Country,Disaster Subroup,Disaster Type,Disaster Subtype,Total Events,Total Affected,Total Deaths,"Total Damage (USD, original)",test
1,1900,Cabo Verde,Climatological,Drought,None,1,NaN,11000.0,NaN,0
2,1900,India,Climatological,Drought,None,1,NaN,1250000.0,NaN,0
3,1900,Jamaica,Hydrological,Flood,None,1,NaN,300.0,NaN,0
4,1900,Japan,Geophysical,Volcanic activity,None,1,NaN,30.0,NaN,0
5,1900,Turkey,Geophysical,Earthquake,None,1,NaN,140.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...
10338,2022,Yemen,Hydrological,Flood,None,1,3400.0,13.0,NaN,0
10339,2022,South Africa,Hydrological,Flood,None,7,143119.0,562.0,3.164000e+09,0
10340,2022,Zambia,Hydrological,Flood,None,1,15000.0,3.0,NaN,0
10341,2022,Zimbabwe,Hydrological,Flood,None,1,NaN,NaN,NaN,0
10342,2022,Zimbabwe,Meteorological,Storm,None,1,3000.0,NaN,NaN,0

In [44]:
data

,Year,Country,Disaster Subroup,Disaster Type,Disaster Subtype,Total Events,Total Affected,Total Deaths,"Total Damage (USD, original)",test
1,1900,Cabo Verde,Climatological,Drought,Drought,1,NaN,11000.0,NaN,0
2,1900,India,Climatological,Drought,Drought,1,NaN,1250000.0,NaN,0
3,1900,Jamaica,Hydrological,Flood,No Subtype,1,NaN,300.0,NaN,0
4,1900,Japan,Geophysical,Volcanic activity,Ash fall,1,NaN,30.0,NaN,0
5,1900,Turkey,Geophysical,Earthquake,Ground movement,1,NaN,140.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...
10338,2022,Yemen,Hydrological,Flood,Flash flood,1,3400.0,13.0,NaN,0
10339,2022,South Africa,Hydrological,Flood,No Subtype,7,143119.0,562.0,3.164000e+09,0
10340,2022,Zambia,Hydrological,Flood,No Subtype,1,15000.0,3.0,NaN,0
10341,2022,Zimbabwe,Hydrological,Flood,No Subtype,1,NaN,NaN,NaN,0
10342,2022,Zimbabwe,Meteorological,Storm,Tropical cyclone,1,3000.0,NaN,NaN,0

Welche Werte für Total Affected, Total Deaths oder Total Damage?

- 0
- arithmetisches Mittel
- Median
- Berechnung aus anderen Spalten

In [64]:
data["Total Deaths"].fillna(0, inplace=True)

In [65]:
data["Total Affected"].fillna(data['Total Deaths'], inplace=True)

In [66]:
data

,Year,Country,Disaster Subroup,Disaster Type,Disaster Subtype,Total Events,Total Affected,Total Deaths,"Total Damage (USD, original)",CPI
1,1900,Cabo Verde,Climatological,Drought,Drought,1,11000.0,11000.0,NaN,3.077091
2,1900,India,Climatological,Drought,Drought,1,1250000.0,1250000.0,NaN,3.077091
3,1900,Jamaica,Hydrological,Flood,No Subtype,1,300.0,300.0,NaN,3.077091
4,1900,Japan,Geophysical,Volcanic activity,Ash fall,1,30.0,30.0,NaN,3.077091
5,1900,Turkey,Geophysical,Earthquake,Ground movement,1,140.0,140.0,NaN,3.077091
...,...,...,...,...,...,...,...,...,...,...
10338,2022,Yemen,Hydrological,Flood,Flash flood,1,3400.0,13.0,NaN,NaN
10339,2022,South Africa,Hydrological,Flood,No Subtype,7,143119.0,562.0,3.164000e+09,NaN
10340,2022,Zambia,Hydrological,Flood,No Subtype,1,15000.0,3.0,NaN,NaN
10341,2022,Zimbabwe,Hydrological,Flood,No Subtype,1,0.0,0.0,NaN,NaN
10342,2022,Zimbabwe,Meteorological,Storm,Tropical cyclone,1,3000.0,0.0,NaN,NaN

### Fehlende Werte ersetzen

**Vorteile**
- Verwendung möglichst aller Daten
- genaue Analyse der fehlenden Werte kann zu neuen Erkenntnissen führen


**Nachteile**
- keine Standard Methodik
- eventuelle Verfälschung der Daten

## Duplikate

`.duplicated()` findet Zeilen mit genau den gleichen Werte.

Mit `drop_duplicates()` können diese entfernt werden.

In [68]:
data.duplicated().sum()

0

In [69]:
data.drop_duplicates()

,Year,Country,Disaster Subroup,Disaster Type,Disaster Subtype,Total Events,Total Affected,Total Deaths,"Total Damage (USD, original)",CPI
1,1900,Cabo Verde,Climatological,Drought,Drought,1,11000.0,11000.0,NaN,3.077091
2,1900,India,Climatological,Drought,Drought,1,1250000.0,1250000.0,NaN,3.077091
3,1900,Jamaica,Hydrological,Flood,No Subtype,1,300.0,300.0,NaN,3.077091
4,1900,Japan,Geophysical,Volcanic activity,Ash fall,1,30.0,30.0,NaN,3.077091
5,1900,Turkey,Geophysical,Earthquake,Ground movement,1,140.0,140.0,NaN,3.077091
...,...,...,...,...,...,...,...,...,...,...
10338,2022,Yemen,Hydrological,Flood,Flash flood,1,3400.0,13.0,NaN,NaN
10339,2022,South Africa,Hydrological,Flood,No Subtype,7,143119.0,562.0,3.164000e+09,NaN
10340,2022,Zambia,Hydrological,Flood,No Subtype,1,15000.0,3.0,NaN,NaN
10341,2022,Zimbabwe,Hydrological,Flood,No Subtype,1,0.0,0.0,NaN,NaN
10342,2022,Zimbabwe,Meteorological,Storm,Tropical cyclone,1,3000.0,0.0,NaN,NaN

## Daten speichern & Neu laden

In [70]:
data.to_csv('../data/clean_emdat.csv')

# Zeit für Feedback



Link: https://ahaslides.com/3VAQJ

![Feedback QR Code](../imgs/qrcode_vl6.png)